.paddingTB{
	padding-top: 25px;
	padding-bottom: 25px;
}

.padding{
	padding-bottom: 55px;
}

.paddingCafe{
	padding-bottom: 31px;
}

.paddingGal{
	padding-bottom: 31px;
}

.paddingLo{
	padding-bottom: 31px;
}