section{
	.encabezado{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	padding-top: 27px;
	padding-bottom: 14px;
	}
}

div{
	.encabezado{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 30px;
		text-align: center;
		padding-top: 27px;
		padding-bottom: 14px;
	}
}